<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titulo %></h1>
    <img src="../../images/Nodepop.png"/>
    <img src="../../images/logo_keepcoding.png" class="logo"/>
    <p>Bienvenido a la práctica 03 del Bootcamp Web <%= titulo %></p>
    <hr>
    
       
  </body>
</html>
