<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola <%= titulo %></h1>
    <p>Bienvenido a la práctica de 03 Bootcamp Web<%= titulo %></p>
       
  </body>
</html>
